.post {
     width: 610px;
     height: auto;
     border: 0.5 solid rgba(0.0.0.0.201);
     margin-top: 10px;
     background-color: white;
     margin-bottom: 30px;
     margin-left: 80px;
   }
.p_d{
    
     display: flex;
     justify-content: space-between;
     height: 50px;
     width: 100%;
}
.p_inner{
     width: 200px;
     display: flex;
     align-items: center;
     margin-left: px;
     margin-top: 10px;
}


.p_p{
     width: 40px;
     height: 40px;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid salmon;
}
.p_name{
      color: #262626;
      font-weight: 600;
      font-size: 14px;
      margin-left: 10px;
      text-decoration: none;
}
.threedots{
     width: 30px;   
     margin-right: 10px;
       font-size: 16px;
       margin-top: 16px;   
}
.p_image{
height: 400px;
margin-top: 12px;
object-fit: cover;
}
.pp_full{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.reaction_icon{
       display: flex;
       margin: 20px 0px 0 10px;
       justify-content: space-between;
       padding-left: 12px;
       padding-right: 12px;
       font-size: 24px;
}
.left_i{
     margin-left: -30px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 8px;
}
.left_i hearticon{
       margin-left: 5px;

}
.right_i hearticon{
     margin-right: 10px;
}
.reactionbtn{
     border: none;
     background-color: white;
}
.numlike{
     font-weight: 600;
     padding-left: px;
     padding-top: 10px;

}
.posttitle{
     font-weight: 700;
     
     
}
.postbody{
     display: inline;
     font-size: 14px;
     color: #262626;
     margin-left: 5px;
     
}
.viewcommentbtn{
     font-weight: 500;
     color: darkgray;
     border: none;
     margin-left: -7px;
     background-color: white;

}
.commentview{
     width: 25px;
     height: 25px;
     border-radius: 50%;

}
.comment{
    
     color: black;
}
.postdata{
     color: gray;
     padding-left: 1px;
     font-size: 12px;


}
.comment_section{
     border-top: 0.5ps solid rgba(0,0,0,0,0.281);
     padding-top: 10px;
     display: flex;
     margin-top: 9px;
     justify-content: space-between;
   margin-left: 14px;
     padding-right: 12px;

}
.input_box img{
    margin-left: 10px;
}
.input_c{
     margin-left: -16px;
     border: none;outline: none;
}
.input_c::placeholder{
      font-family: sans-serif;
}
.c_text button{
     margin-right: 10px;
     font-weight: 600;
     font-size: 14px;
     color: #3EABF7;
     border: none;
     background-color: #fff;

}