/* .story{


    width: 100%;
    background-color: white;
} */
.story-box{

     
    margin-left: -270px;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: width .4s;
    border: none;  
    /* border: 1px solid rgba(65, 60,60,0.295); */
}

.story_1{
    
    margin-right: 10px;
    margin-top: 20px;
    transition: left .4s cubic-bezier(.47,.13,.15.89);

}
.storybtn{
border: none;
background-color: white;
padding: -0px;

}
.story_image{

width: 60px;
height: 60px;
border-radius: 50%;
border: 2px solid #FA383E;
object-fit: cover;

}
.story_H{


    text-align: center;
    font-size: 13px;
    font-weight: 400;
   
   
}
