*{
   background-color: white;

}
.profail-main-container{
    display: flex;
    background-color: white;
}
.dp-image-conainer{
    margin-left: 370px;
    margin-top: 35px;
}
    .dp_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    }
    .dp-side-box{
     margin-top: 40px;
     display: flex;
     justify-content: space-between;
     margin-left: 100px;
      height: 80px;
    }
    .butns{   
       justify-content: space-around;
        margin-left: 10px; 
        border-radius: 10px;
        padding: 5px;
        width: 115px;
        height: 30px;
        border: none;
        background-color: rgb(227, 227, 227);
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
 .idd-name{
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: 100;
border: none;
background-color: #fff;
    }
.second-sec{
 margin-left: 620px;
 margin-top: -90px;
    }
.item{
 border: none;
 background-color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

      
              }
 .dicription{

  margin-left: 630px;
  font-weight: 600;
  margin-top: 10px;
              }

.footer{
      margin-left: 600px;
      display: flex;
      margin-top: 250px;
      
}         
.item-btn{

       margin: 30px;
       font-size: small;
       font-weight: 600;
       border: none;
    color: gray;
       

}     
.line{
      width: 700px;
   
    
}
.item-btn:hover{
       color: black;
}
.imagez{
    
       width: 300px;
       height: 250px;
      
      
}
.post{
    display: flex; 

    /* width: 200px;
    height: 250px; */
}
.post-item{
    margin-left: 200px;
    padding: 30px;
     width:100px;

}